<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulář-Autoškola Hlaváček</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/style/style.css" />
</head>

<body>
    <div id="plocha">
        <section id="head">
            <header>Přihláška na řidičský kurz skupiny B</header>
            <h1>Autoškola Hlaváček</h1>
        </section>
        <form action="send" method="POST" id="form">
            <H3>Zvolte si prosím termín!</H3>
            <section class="terms">
                <div class="date1">
                    <label for="date">Červen</label><br>
                    <input type="radio" name="date" value="Duben-Červen" checked>
                </div>
                <div class="date1">
                    <label for="date">Září</label><br>
                    <input type="radio" name="date" value="Červenec-Září">
                </div>
                <div class="date1">
                    <label for="date">Prosinec</label><br>
                    <input type="radio" name="date" value="Říjen-Prosinec">
                </div>
            </section>
            <div class="form1">
                <label for="name">Jméno:</label>
                <input id="name" name="name1" type="text" required />
            </div>
            <div class="form1">
                <label for="family">Příjmení:</label>
                <input id="family" name="name2" type="text" required />
            </div class="form1">
            <div class="form1">
                <label for="number">Tel. číslo:</label>
                <input id="number" name="phone" type="tel" pattern="[0-9]{9}" required />
            </div>
            <div class="form1">
                <label for="email">E-mail:</label>
                <input id="email" name="email1" type="email" required />
            </div>
            <div class="form2">
                <label for="note">Poznámky:</label>
                <textarea name="note1" id="note" cols="50" rows="4"></textarea>
            </div>
            <div id="agree">
                <input type="checkbox" id="souhlas" name="souhlas" required>
                <label for="souhlas">Souhlasím se zpracováním osobních údajů <a
                        href="http://www.hlavacekautoskola.cz/gdpr.pdf"><b>GDPR</b></a>.</label><br>
            </div>
            <button type="submit" id="submit">Rezervovat</button>
        </form>
    </div>
    <script src="/app.js"></script>
</body>
</html>